<script setup lang="ts">
import { ref } from 'vue';

const weight = ref()
const height = ref()
const result = ref(0)

function calculate() {
    result.value = weight.value / (height.value / 100) ** 2
}
</script>

<template>
    <div :class="{center:true}">
        <div style="width: 80%;margin: auto;">
            <label for="weight">Weight (kg.)</label><br />
            <input id="weight" type="text" v-model.number="weight" placeholder="0"/>

        </div>
        <div style="width: 80%;margin: auto;">
            <label for="height">Height (cm.)</label><br />
            <input id="height" type="text" v-model.number="height" placeholder="0" />
        </div>
        <div style="width: 80%;margin: auto;"><button @click="calculate()">Calculate</button></div>
        <div style="text-align: center;font-size: 20pt;padding: 10px;">BMI</div>
        <div style="text-align: center;font-size: 18pt;padding: 10px;">{{ result.toFixed(2) }}</div>


        <div>
            <table :class="{ table: true }">
                <tr>
                    <th>BMI kg/m²</th>
                    <th>อยู่ในเกณฑ์</th>
                    <th>ภาวะเสี่ยงต่อโรค</th>
                </tr>
                <tr :class="{ show: result < 18.50 ? true : false }">
                    <td>น้อยกว่า 18.50</td>
                    <td>น้ำหนักน้อย / ผอม</td>
                    <td>มากกว่าคนปกติ</td>
                </tr>
                <tr :class="{ show: result >= 18.50 && result < 23 ? true : false }">
                    <td>ระหว่าง 18.50 - 22.90</td>
                    <td>ปกติ (สุขภาพดี)</td>
                    <td>เท่าคนปกติ</td>
                </tr>
                <tr :class="{ show: result >= 23 && result < 25 ? true : false }">
                    <td>ระหว่าง 23 - 24.90</td>
                    <td>ท้วม / โรคอ้วนระดับ 1</td>
                    <td>อันตรายระดับ 1</td>
                </tr>
                <tr :class="{ show: result >= 25 && result < 30 ? true : false }">
                    <td>ระหว่าง 25 - 29.90</td>
                    <td>อ้วน / โรคอ้วนระดับ 2</td>
                    <td>อันตรายระดับ 2</td>
                </tr>
                <tr :class="{ show: result >= 30 ? true : false }">
                    <td>มากกว่า 30</td>
                    <td>อ้วนมาก / โรคอ้วนระดับ 3</td>
                    <td>อันตรายระดับ 3</td>
                </tr>
            </table>
        </div>
    </div>
</template>

<style scoped>
.show {
    background-color: #7ED7C1;
}

.table {
    border: solid 2px black;
    margin: auto;
    width: 100%;
    background-color: #ECE5C7;
    border-collapse: collapse;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    text-align: center;
}

button {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    text-align: center;
    background-color: #8ACDD7;
    border: none;
    }
.center{
    margin: auto;
    width: 70%;
    border: 3px solid black;
    padding: 10px;
    background-color: #C2DEDC;
}
th{
    text-align: center;
    background-color: #CDC2AE;
}

</style>