<script setup lang="ts">
import { ref } from 'vue';

const awesome = ref(true)
function yeet(){
    awesome.value = !awesome.value
}
</script>
<template>
    <br/>
    <button @click="yeet">Yeet! {{ awesome }}</button>
    <h1 v-if="awesome">𝓗𝓪𝓵𝓵𝓸𝔀</h1>
    <h1 v-else>⛄👽🎃 Weeeeee🎃👽⛄</h1>
</template>
<style scoped></style>