<script setup lang="ts">
import { reactive, ref, watch } from 'vue'
const count = ref(0)
const myClasses = reactive({
    red: true,
    bold: true,
    underline: true
})
function increament() {
    count.value++
}
watch(count, function (newCount, oldCount) {
    console.log(`Count changed ${oldCount} - > ${newCount}`);

})

const todoId = ref(1)
const todoData = ref(null)

async function fetchData() {
  todoData.value = null
  const res = await fetch(
    `https://jsonplaceholder.typicode.com/todos/${todoId.value}`
  )
  todoData.value = await res.json()
}

fetchData()

watch(todoId, fetchData)
</script>
<template>
    <br />
    <button @click="increament()" :class="myClasses">count is : {{ count }}</button><br />
    <pre>{{ myClasses }}</pre> <br />
    <button @click="myClasses.red = !myClasses.red">red</button>
    <button @click="myClasses.bold = !myClasses.bold">bold</button>
    <button @click="myClasses.underline = !myClasses.underline">underline</button>

    <p>Todo id: {{ todoId }}</p>
  <button @click="todoId++" :disabled="!todoData">Fetch next todo</button>
  <p v-if="!todoData">Loading...</p>
  <pre v-else>{{ todoData }}</pre>
</template>
<style scoped>
.red {
    color: red;
}

.bold {
    font-weight: bold;
}

.underline {
    text-decoration: underline;
}
</style>